---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";


---

<MainLayout>

  <HeroSection
    title=`دابکا فعال در حوزه تکنولوژی <span
        class="text-yellow-500 dark:text-yellow-400"DABKA/span>`
    subTitle="ایده پردازی در اتاق فکر عامو عرفان"
    primaryBtn="مشاهده محصولات"
    primaryBtnURL="/products"
    secondaryBtn="ارتباط با ما"
    secondaryBtnURL="/contact"
    withReview={false}
    src={heroImage}
    alt="Stack of DABKA product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="مورد اطمینان پیشروان صنعت"
    subTitle="مورد اعتماد غول‌های صنعتی، ما قابلیت اطمینانی ارائه می‌دهیم که می‌توانید روی آن حساب کنید."
  />

  <FeaturesGeneral
    title="پاسخگویی به نیاز های صنعت"
    subTitle="در دابکا, ما چالش‌های منحصربه‌فرد موجود در بخش‌های سخت‌افزار و ساخت‌وساز را برطرف می‌کنیم. از ابزارهای پیشرفته گرفته تا خدمات تخصصی، متعهد به کمک برای غلبه بر موانع و دستیابی به اهدافتان هستیم."
    alt="محصولات دابکا"
    features={features}
  />

  <FeaturesNavs
    title=`سفارشی سازی <span class="text-yellow-500 dark:text-yellow-400">DABKA</span>  خدمات برای مطابقت کامل با نیازهای سخت‌افزاری و ساخت‌وساز شما.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with DABKA's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using DABKA's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. DABKA's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <HeroSectionAlt
    title="دابکا پیشرو در صنعت"
    subTitle="بیایید آینده را با هم بسازیم"
    url=""
  />
</MainLayout>
